* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Opens Sans",sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5E63BA;
    padding: 0 10px;
}
.container {
    position: relative;
    width: 900px;
    background: #fff;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}
.hangman-box img {
    max-width: 270px;
}
.hangman-box h1 {
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.word-display {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    align-items: center;
}
.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}
.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}
.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500px;
    margin-bottom: 15px;
}
.game-box h4 b{
    font-weight: 600;
}
.game-box .guesses-text b {
    color: #FF0000;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

:where(.game-box, .keyboard) button {
    color: #fff;
    font-size: 1rem;
    font-weight: 600; /* Corrigido: removido o 'px' */
    cursor: pointer;
    outline: none;
    border: none;
    background: #5E63BA;
    border-radius: 4px;
    text-transform: uppercase;
}

.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}

:where(.game-modal, .keyboard) button:hover {
    background: #8286c9;
}
.content button {
    background-color: #5E63BA;
    border: none;
    color: #fff;
    border-radius: 3px;
}


.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    transform: opacity 0.4s ease;
}
.game-modal.show {
    opacity: 1;
    pointer-events: auto;
    
} 
.game-modal .content {
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal h4 {
    font-size: 1.53rem;
}
.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b {
    color: #5E63BA;
    font-weight: 600px;
}
.game-modal button {
    padding: 12px 23px;
}
.gamingDiv {
    position: absolute;
    top:2%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5E63BA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.gamingTime {
    color: red;
    font-weight: bold;
    font-size: 22px;
}


@media screen and (max-width: 728px) {
    body {
        width: 100%;
    }
    * {
        padding: 0;
        margin-top: 0;
    }

    body {
    width: 100%;
    }
    .container {
    width: 430px;
    }
    .hangman-box img {
        margin-top: 10px;
        max-width: 200px;
    }
    .hangman-box h1 {
        display: none;
    }
    .container {
        position: relative;
        width: px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gamingDiv {
        position: absolute;
        top: 0;
       left: 45%;
       margin-top: 10px;
    }
    .gamingDiv p {
        font-size: 20px;
    }
    .gamingDiv {
        height:50px;
        width: 50px;
    }
}